@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,400;0,700;0,900;1,400;1,900&display=swap');

body {
    --background-color: #f7f5dd;
    --accent-red: #d55672;
    --main-green: #009786;
    --main-gray: rgb(78, 76, 76);
    --book-background: #fff3f6;
    --background-color-rgb: "247, 245, 221";
    --text-color: white;

    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    height: 100dvh;
    transition-duration: 0.3s;
    padding: 0;
    margin: 0;
}


body#blur.active {
    filter: blur(10px)
}

header {
    display: flex;
    position: sticky;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem 3rem;
    color: var(--accent-red);
    justify-content: space-between;
    align-items: center;
    top: 0;
    background: rgba(var(--background-color-rgb), 0.5);
    backdrop-filter: blur(15px);
    z-index: 100;
}

.add-book-button {
    background-color: var(--main-gray);
    color: var(--background-color);
    padding: 0.6rem 6rem;
    border-radius: 1rem;
    transition-duration: 0.3s;
}

.add-book-button:hover {
    cursor: pointer;
    background-color: var(--accent-red);
}

.container {
    display: grid;
    padding: 2rem 3rem;
    align-items: center;
    justify-items: center;
    grid-auto-flow: row;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem 5rem;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--book-background);
    border: solid var(--accent-red);
    border-radius: 1rem;
    padding: 1rem;
    width: 13rem;
    height: 20rem;
    transition-duration: 0.3s;
}

.book:hover {
    cursor: pointer;
    box-shadow: 0.3rem 0.3rem 0.1rem 0 var(--accent-red);
    transform: scale(1.05);
}

.upper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author {
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: 1.2rem;
}

.title {
    padding: 0;
    margin: .4rem;
}

.book-status {
    font-weight: bold;
    font-size: 1.5rem;
}

.modal-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.book-dialog {
    width: 30%;
    height: 60%;
    border-radius: 1rem;
    border: solid var(--main-gray);
    background-color: var(--book-background);
}

.is-blurred {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.add-book-style {
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

input {
    border-radius: .2rem;
    height: 2rem;
    font-size: 1rem;
}

.modal-box {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.dialog-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.modalbtn {
    background-color: var(--main-gray);
    border: none;
    border-radius: 1rem;
    padding: 1rem 4rem;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.3s;
}

.modalbtn:hover {
    background-color: var(--accent-red);
}